#santa {
  border-radius: 50%;

  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 250px;
  left: 40px;
  margin-bottom: 20px;
}

#santaImage {
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  transform: scale(2.5);
}
